@use "variables";

.agents-container {
  gap: 1.5em;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 900px;

  .agent-card {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    max-width: 400px;
    text-align: left;
    background-color: variables.$drk-clr;
    border-radius: 2px;

    h3,
    p {
      margin-top: 0.6em;
      margin-left: 10px;
    }

    h3 {
      color: variables.$lg-clr;
    }

    img {
      display: block;
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }

    .agent-1 {
      object-position: 0 30%;
    }
    .agent-2 {
      object-position: 0 60%;
    }
    .agent-4 {
      object-position: 0 30%;
    }
  }
}
