@use "variables";

footer {
  width: 100vw;
  flex-direction: column;
  gap: 1.5em;
  padding: 2em 0;

  .social-media {
    color: variables.$accent-clr;
    font-size: 1.5em;
    gap: 1em;

    img {
      object-fit: cover;
      width: 100%;
      max-width: 40px;
    }
  }

  .footer-links {
    margin-top: 1em;

    ul {
      text-align: center;
      padding: 0;

      li {
        list-style: none;
        margin-bottom: 1em;

        a {
          text-decoration: none;
          color: variables.$lg-clr;
          font-size: 1.2em;
          font-weight: bold;
        }
      }
    }
  }
}
