@use "variables";

:root {
  scroll-behavior: smooth;
}

body {
  font-family: variables.$prm-ft;
  font-size: 1em;
  background-color: variables.$lg-clr;
  color: variables.$drk-clr;
  overflow-x: hidden;
  font-size: 16px;
}

h1 {
  font-size: 2em;
  font-weight: 800;
  font-family: variables.$scdr-ft;
}

h2 {
  font-size: 1.75em;
  font-weight: 600;
  font-family: variables.$scdr-ft;
}

h3 {
  font-size: 1.5em;
  font-family: variables.$scdr-ft;
}

p {
  font-size: 1.1em;
  font-weight: 400;
}

i:not(.fa-bars, .fa-window-close, .social-icon) {
  display: block;
  color: variables.$accent-clr;
  font-size: 3em;
}

// Changing BT carousel icon
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none !important;
  font-size: 1.7em;
  font-weight: bold;
}
