@use 'variables';

header nav .menu-overlay {
  background-color: variables.$md-clr;
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  transform: translateX(105%);
  transition: transform 0.5s ease-in-out;

  .close-menu {
    position: absolute;
    top: 12px;
    right: 15px;
    color: variables.$drk-clr;
    font-size: 1.5em;

    @media (min-width: variables.$tablet) {
      font-size: 2em;
      top: 0.8em;
      right: 1em;
    }
  }

  .menu-list {
    margin: 6em 0 0;
    text-align: center;
    padding: 0;

    li {
      margin-top: 1em;
      list-style-type: none;
      font-weight: bold;

      .menu-link {
        text-decoration: none;
        color: variables.$drk-clr;
        font-size: 1.1em;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: variables.$accent-clr;
          transition: color 0.2s ease-in-out;
        }
      }
    }

    @media (min-width: variables.$tablet) {
      margin-top: 8em;

      li {
        margin-top: 1.5em;
      }

      li .menu-link {
        font-size: 1.2em;
      }
    }
  }

  @media (min-width: variables.$desktop) {
    display: none;
    visibility: hidden;
  }
}

header nav .menu-overlay.active {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}
