@use "variables";

.services-card-container {
  flex-direction: column;
  gap: 4em;
  align-items: center;
  justify-content: center;
  max-width: 1140px;

  .services-card {
    flex-direction: column;
    gap: 1em;
    width: 100%;
    max-width: 320px;

    .card-text {
      text-align: center;
      width: 90%;
    }

    h3 {
      margin-bottom: 0.7em;
    }

    .accent-btn {
      font-weight: bold;
      color: variables.$lg-clr;
      width: max-content;
      margin: 0.5em auto 0;
    }
  }
}
