@use 'variables';

.app-container {
  width: 100vw;
  overflow-x: hidden;
}

.logo {
  font-size: 1.4em;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
}

.copyright {
  font-size: 0.9em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

// Color clases
.drk {
  color: variables.$drk-clr;
}

.lg {
  color: variables.$lg-clr;
}
.md {
  color: variables.$md-clr;
}

.lg-bg {
  background-color: variables.$lg-clr;
}

.md-bg {
  background-color: variables.$md-clr;
}
.drk-bg {
  background-color: variables.$drk-clr;
}

.accent {
  color: variables.$accent-clr !important;
}

.lg-accent {
  color: variables.$lg-accent-clr !important;
}

// Padding and margin classes
.sides-padding {
  padding-right: 5%;
  padding-left: 5%;

  @media (min-width: variables.$tablet) {
    padding-right: 3%;
    padding-left: 3%;
  }
}

.tb-padding {
  padding-top: 3em;
  padding-bottom: 3em;

  @media (min-width: variables.$tablet) {
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

.container-margin {
  margin-top: 4em;
  margin-bottom: 4em;

  @media (min-width: variables.$tablet) {
    margin-top: 5em;
    margin-bottom: 5em;
  }
  @media (min-width: variables.$desktop) {
    margin-top: 6em;
    margin-bottom: 6em;
  }
}

// Sections classes
.section-title {
  text-align: center;
  color: variables.$accent-clr;
}

// Layout classes

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

// Header darken overlay
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -5;
}

// Btn

.menu-btn {
  color: variables.$lg-clr;
  border: none;
  outline: none;
  padding: 2px 8px;
  margin-bottom: 0.5rem;
  font-size: 1.3em;
  background-color: transparent;
}

.accent-btn {
  padding: 8px 25px;
  border: none;
  border-radius: 2px;
  background-color: variables.$accent-clr;
}
