$prm-ft: 'Roboto', sans-serif;
$scdr-ft: 'Playfair Display', serif;
$accent-clr: hsl(183, 79%, 29%);
$lg-accent-clr: hsl(183, 79%, 50%);
$drk-clr: hsla(0, 0%, 0%, 0.8);
$lg-clr: hsl(0, 0%, 99%);
$md-clr: hsl(0, 0%, 96%);
