@use '../variables';

form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  padding: 0 5%;
  margin: 0 auto;

  @media (min-width: 550px) {
    width: 80%;
    max-width: 600px;
  }

  label {
    font-size: 0.9em;
    font-weight: bold;
  }

  input,
  textarea {
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 5px;
    background-color: transparent;
    color: variables.$drk-clr;
    margin-bottom: 0.5em;
  }

  textarea {
    height: 5em;
    resize: none;
    margin-top: 0.5em;

    &::placeholder {
      font-size: 0.9em;
      color: hsl(183, 85%, 13%);
    }
  }

  & .accent-btn {
    width: max-content;
    color: variables.$lg-clr;
    font-size: 1.1em;
    margin: 1.5em auto 0;
  }

  & .submit-message {
    color: variables.$accent-clr;
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
  }
}

.address-container {
  width: 100%;
  text-align: center;
  padding: 0 5%;
  margin: 3em auto -4em;
  flex-direction: column;
  gap: 1em;

  @media (min-width: variables.$tablet) {
    margin-bottom: -5em;
  }

  p,
  address {
    margin: 0;
  }
}
