@use '../variables';

header {
  background-image: url(/src/images/header.jpg);
  padding-bottom: 3em;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;

  .scroll-text {
    display: none;
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    margin-bottom: 0;
    left: 0;
    right: 0;
    bottom: 10%;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s linear;

    span {
      display: block;
      color: variables.$md-clr;
      font-size: 1.5em;
    }

    @media (min-width: variables.$xl-tablet) {
      display: block;
    }
  }

  // Header media queries
  @media (min-width: variables.$tablet) {
    .header-text {
      padding: 7em 1.5em;

      h1 {
        font-size: 2em;
      }

      p {
        font-size: 1.2em;
      }
    }
  }

  @media (min-width: variables.$desktop) {
    .header-text {
      padding: 10em 1.5em;
    }
  }
  @media (min-width: variables.$xl-desktop) {
    height: 100vh;

    .header-text {
      height: calc(100vh - 200px);
      display: grid;
      place-content: center;

      h1 {
        font-size: 2.5em;
      }

      p {
        font-size: 1.3em;
      }

      .scroll-text {
        display: block;
      }
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  color: variables.$lg-clr;
  max-width: 1600px;
  margin: 0 auto;

  .large-menu {
    display: none;
    align-items: center;
    justify-content: center;
    column-gap: 2em;
    list-style-type: none;
    padding: 0 1em 0 0;
    margin: 0;

    .lg-link {
      color: variables.$lg-clr;
      text-decoration: none;
      font-size: 1em;
      font-weight: bold;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: variables.$lg-accent-clr;
        transition: color 0.2s ease-in-out;
      }
    }
  }

  .open-menu {
    color: variables.$lg-clr;
  }

  @media (min-width: variables.$tablet) {
    padding: 1.5em 0;

    .open-menu {
      font-size: 1.5em;
    }
  }

  @media (min-width: variables.$desktop) {
    .open-menu {
      display: none;
    }

    .large-menu {
      display: flex;
    }
  }
}

.header-text {
  padding: 3em 1em;
  max-width: 43em;
  margin: 0 auto;
  text-align: center;
  color: variables.$lg-clr;

  p {
    width: 80%;
    margin: 1em auto 0;
    font-size: 1.2em;
  }
}
