@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap&family=Montserrat:wght@600");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  background-color: #fcfcfc;
  color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
}

h1 {
  font-size: 2em;
  font-weight: 800;
  font-family: "Playfair Display", serif;
}

h2 {
  font-size: 1.6em;
  font-weight: 600;
  font-family: "Playfair Display", serif;
}

h3 {
  font-size: 1.3em;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

p {
  font-size: 1em;
  font-weight: 400;
}

i:not(.fa-bars, .fa-window-close, .social-icon) {
  display: block;
  color: #107f84;
  font-size: 2.5em;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none !important;
  font-size: 1.7em;
  font-weight: bold;
}

.app-container {
  width: 100vw;
  overflow-x: hidden;
}

.logo {
  font-size: 1.4em;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

.copyright {
  font-size: 0.9em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.drk {
  color: rgba(0, 0, 0, 0.8);
}

.lg {
  color: #fcfcfc;
}

.md {
  color: #f7f7f7;
}

.lg-bg {
  background-color: #fcfcfc;
}

.md-bg {
  background-color: #f7f7f7;
}

.drk-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

.accent {
  color: #107f84 !important;
}

.lg-accent {
  color: #1bdae4 !important;
}

.sides-padding {
  padding-right: 5%;
  padding-left: 5%;
}
@media (min-width: 768px) {
  .sides-padding {
    padding-right: 3%;
    padding-left: 3%;
  }
}

.tb-padding {
  padding-top: 3em;
  padding-bottom: 3em;
}
@media (min-width: 768px) {
  .tb-padding {
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

.container-margin {
  margin-top: 4em;
  margin-bottom: 4em;
}
@media (min-width: 768px) {
  .container-margin {
    margin-top: 5em;
    margin-bottom: 5em;
  }
}
@media (min-width: 1024px) {
  .container-margin {
    margin-top: 6em;
    margin-bottom: 6em;
  }
}

.section-title {
  text-align: center;
  color: #107f84;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -5;
}

.menu-btn {
  color: #fcfcfc;
  border: none;
  outline: none;
  padding: 2px 8px;
  margin-bottom: 0.5rem;
  font-size: 1.3em;
  background-color: transparent;
}

.accent-btn {
  padding: 8px 25px;
  border: none;
  border-radius: 2px;
  background-color: #107f84;
  animation-duration: 1s;
}

.carousel-btn {
  border: none;
  outline: none;
  padding: 0.3em;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fcfcfc;
  font-size: 0.6em;
}

header {
  background-image: url(/src/images/header.jpg);
  padding-bottom: 3em;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}
header .scroll-text {
  display: none;
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  margin-bottom: 0;
  left: 0;
  right: 0;
  bottom: 10%;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s linear;
}
header .scroll-text span {
  display: block;
  color: #f7f7f7;
  font-size: 1.5em;
}
@media (min-width: 930px) {
  header .scroll-text {
    display: block;
  }
}
@media (min-width: 768px) {
  header .header-text {
    padding: 7em 1.5em;
  }
  header .header-text h1 {
    font-size: 2em;
  }
  header .header-text p {
    font-size: 1.2em;
  }
}
@media (min-width: 1024px) {
  header .header-text {
    padding: 10em 1.5em;
  }
}
@media (min-width: 1400px) {
  header {
    height: 100vh;
  }
  header .header-text {
    height: calc(100vh - 200px);
    display: grid;
    place-content: center;
  }
  header .header-text h1 {
    font-size: 2.5em;
  }
  header .header-text p {
    font-size: 1.3em;
  }
  header .header-text .scroll-text {
    display: block;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  color: #fcfcfc;
  max-width: 1600px;
  margin: 0 auto;
}
nav .large-menu {
  display: none;
  align-items: center;
  justify-content: center;
  column-gap: 2em;
  list-style-type: none;
  padding: 0 1em 0 0;
  margin: 0;
}
nav .large-menu .lg-link {
  color: #fcfcfc;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}
nav .large-menu .lg-link:hover {
  color: #1bdae4;
  transition: color 0.2s ease-in-out;
}
nav .open-menu {
  color: #fcfcfc;
}
@media (min-width: 768px) {
  nav {
    padding: 1.5em 0;
  }
  nav .open-menu {
    font-size: 1.5em;
  }
}
@media (min-width: 1024px) {
  nav .open-menu {
    display: none;
  }
  nav .large-menu {
    display: flex;
  }
}

.header-text {
  padding: 3em 1em;
  max-width: 43em;
  margin: 0 auto;
  text-align: center;
  color: #fcfcfc;
}
.header-text p {
  width: 80%;
  margin: 1em auto 0;
  font-size: 1.2em;
}

header nav .menu-overlay {
  background-color: #f7f7f7;
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  transform: translateX(105%);
  transition: transform 0.5s ease-in-out;
}
header nav .menu-overlay .close-menu {
  position: absolute;
  top: 12px;
  right: 15px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.5em;
}
@media (min-width: 768px) {
  header nav .menu-overlay .close-menu {
    font-size: 2em;
    top: 0.8em;
    right: 1em;
  }
}
header nav .menu-overlay .menu-list {
  margin: 6em 0 0;
  text-align: center;
  padding: 0;
}
header nav .menu-overlay .menu-list li {
  margin-top: 1em;
  list-style-type: none;
  font-weight: bold;
}
header nav .menu-overlay .menu-list li .menu-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.1em;
  transition: color 0.2s ease-in-out;
}
header nav .menu-overlay .menu-list li .menu-link:hover {
  color: #107f84;
  transition: color 0.2s ease-in-out;
}
@media (min-width: 768px) {
  header nav .menu-overlay .menu-list {
    margin-top: 8em;
  }
  header nav .menu-overlay .menu-list li {
    margin-top: 1.5em;
  }
  header nav .menu-overlay .menu-list li .menu-link {
    font-size: 1.2em;
  }
}
@media (min-width: 1024px) {
  header nav .menu-overlay {
    display: none;
  }
}

header nav .menu-overlay.active {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

#how .cards-container {
  row-gap: 2em;
  column-gap: 2em;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  #how .cards-container {
    width: 600px;
  }
}
@media (min-width: 1024px) {
  #how .cards-container {
    width: 900px;
    gap: 0;
  }
}
@media (min-width: 1400px) {
  #how .cards-container {
    width: 1200px;
  }
}
#how .cards-container .flex-card {
  width: 100%;
  margin: 0 auto;
  width: 250px;
  flex-direction: column;
  row-gap: 1em;
  column-gap: 1em;
  opacity: 0;
}
@media (min-width: 1024px) {
  #how .cards-container .flex-card {
    width: 200px;
  }
}
#how .cards-container .flex-card p {
  width: 85%;
  margin: 0 auto;
}
#how .cards-container .flex-card h3 {
  margin-bottom: 0;
}

#properties {
  background-color: #f7f7f7;
}
@media (min-width: 768px) {
  #properties #carouselExampleIndicators {
    width: 80%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
#properties .carousel-card {
  padding-bottom: 3em;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  color: #fcfcfc;
}
#properties .carousel-card *:not(img) {
  margin: 0.5rem 0 0 1rem;
}
#properties .carousel-card .w-100 {
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
#properties .carousel-card .property-price {
  font-weight: bold;
  font-size: 1.3em;
  color: #1bdae4;
}
#properties .carousel-card address {
  font-size: 0.8em;
}
#properties .carousel-control-next, #properties .carousel-control-prev {
  width: 5%;
  display: grid;
  place-content: center;
  color: #fff;
  opacity: 0.9;
  font-size: 2.8em;
}
#properties .carousel-control-prev {
  padding-left: 1.5rem;
}
#properties .carousel-control-next {
  padding-right: 1.5rem;
}
#properties .carousel-indicators [data-bs-target] {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
@media (min-width: 930px) {
  #properties #carouselExampleIndicators {
    height: 600px;
    font-size: 18px;
  }
  #properties #carouselExampleIndicators .carousel-inner,
#properties #carouselExampleIndicators .carousel-item,
#properties #carouselExampleIndicators .carousel-card {
    height: 100%;
  }
  #properties #carouselExampleIndicators img {
    height: 80%;
  }
}

.agents-container {
  display: grid !important;
  gap: 1em 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 700px) {
  .agents-container {
    grid-template-columns: 1fr 1fr;
    width: 650px;
  }
}
@media (min-width: 1200px) {
  .agents-container {
    grid-template-columns: repeat(4, 1fr);
    width: 1200px;
  }
}
.agents-container .agent-card {
  position: relative;
  width: 90%;
  max-width: 300px;
  height: auto;
  margin: 0 auto;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  opacity: 0;
}
.agents-container .agent-card h3,
.agents-container .agent-card p {
  margin-top: 0.6em;
  margin-left: 10px;
}
.agents-container .agent-card h3 {
  color: #fcfcfc;
}
.agents-container .agent-card img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.agents-container .agent-card .agent-1 {
  object-position: 0 30%;
}
.agents-container .agent-card .agent-2 {
  object-position: 0 60%;
}
.agents-container .agent-card .agent-4 {
  object-position: 0 30%;
}

.company-info {
  background-color: #f7f7f7;
}
.company-info .info-container {
  margin-top: 4em;
  gap: 0.7em;
  max-width: 800px;
  margin: 4em auto 0;
}
.company-info .info-container p {
  width: 95%;
  margin: 0 auto;
}
.company-info .info-container ul {
  margin: 1em 0 1em 1.5em;
  gap: 0.7em;
  padding-left: 0;
}
.company-info .info-container ul li {
  width: 90%;
}
.company-info .info-container .learn-more {
  margin: 1em auto 0;
  font-size: 1em;
  font-weight: bold;
  color: #fcfcfc;
}

.services-card-container {
  gap: 4em;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .services-card-container {
    row-gap: 5em;
    column-gap: 2em;
  }
}
@media (min-width: 1024px) {
  .services-card-container {
    column-gap: 1em;
  }
}
@media (min-width: 1400px) {
  .services-card-container {
    column-gap: 6em;
  }
}
.services-card-container .services-card {
  flex-direction: column;
  gap: 1em;
  width: 100%;
  max-width: 300px;
  opacity: 0;
}
.services-card-container .services-card .card-text {
  text-align: center;
  width: 90%;
}
.services-card-container .services-card h3 {
  margin-bottom: 0.7em;
}
.services-card-container .services-card .accent-btn {
  font-weight: bold;
  color: #fcfcfc;
  width: max-content;
  margin: 1em auto 0;
}

#testimonials {
  text-align: center;
  background-color: #f7f7f7;
}
#testimonials #carouselExampleIndicators2 {
  height: 400px;
  display: grid;
  place-content: center;
}
#testimonials #carouselExampleIndicators2 .carousel-control-next, #testimonials #carouselExampleIndicators2 .carousel-control-prev {
  width: 10%;
  display: grid;
  place-content: center;
  color: #000;
  opacity: 0.5;
  font-size: 2.8em;
}
#testimonials #carouselExampleIndicators2 .carousel-inner {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
#testimonials #carouselExampleIndicators2 .carousel-inner .carousel-item img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
}
#testimonials #carouselExampleIndicators2 .carousel-inner .carousel-item .image-1,
#testimonials #carouselExampleIndicators2 .carousel-inner .carousel-item .image-2 {
  object-position: center 0;
}
#testimonials #carouselExampleIndicators2 .carousel-inner .carousel-item .image-3 {
  object-position: center 40%;
}
#testimonials #carouselExampleIndicators2 .carousel-inner .carousel-item .image-4 {
  object-position: center 30%;
}
#testimonials #carouselExampleIndicators2 .carousel-inner .carousel-item .comment {
  width: 95%;
  max-width: 400px;
  margin: 0 auto 1.8em;
}
#testimonials #carouselExampleIndicators2 .carousel-inner .carousel-item .accent {
  margin-top: 1em;
  font-weight: bold;
}
@media (min-width: 1024px) {
  #testimonials #carouselExampleIndicators2 {
    width: 800px;
    margin: 0 auto;
  }
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  padding: 0 5%;
  margin: 0 auto;
}
@media (min-width: 550px) {
  form {
    width: 80%;
    max-width: 600px;
  }
}
form label {
  font-size: 0.9em;
  font-weight: bold;
}
form input,
form textarea {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 5px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 0.5em;
}
form textarea {
  height: 5em;
  resize: none;
  margin-top: 0.5em;
}
form textarea::placeholder {
  font-size: 0.9em;
  color: #053b3d;
}
form .accent-btn {
  width: max-content;
  color: #fcfcfc;
  font-size: 1.1em;
  margin: 1.5em auto 0;
}
form .submit-message {
  color: #107f84;
  margin: 1em 0 0;
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
}

.address-container {
  width: 100%;
  text-align: center;
  padding: 0 5%;
  margin: 3em auto -4em;
  flex-direction: column;
  gap: 1em;
}
@media (min-width: 768px) {
  .address-container {
    margin-bottom: -5em;
  }
}
.address-container p,
.address-container address {
  margin: 0;
}

footer {
  width: 100vw;
  flex-direction: column;
  gap: 1.5em;
  padding: 2em 0;
}
footer .social-media {
  color: #107f84;
  font-size: 1.5em;
  gap: 1em;
}
@media (min-width: 768px) {
  footer .social-media {
    margin-top: 1em;
  }
}
footer .social-media img {
  object-fit: cover;
  width: 100%;
  max-width: 40px;
}
footer .footer-links {
  margin: 1.5em auto 0;
}
footer .footer-links ul {
  text-align: center;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  margin: 0 auto;
}
@media (min-width: 600px) {
  footer .footer-links ul {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
  }
}
@media (min-width: 1024px) {
  footer .footer-links ul {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2em;
  }
}
footer .footer-links ul li {
  list-style: none;
  margin-bottom: 1em;
}
footer .footer-links ul li a {
  text-decoration: none;
  color: #fcfcfc;
  font-size: 1em;
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
